###############################################################
# C2 configuration file, to be edited manually
###############################################################

# Crypto settings
###############################################################
## supported modes are: symkey, pubkey
crypto-mode: pubkey
# path to the private key file (for pubkey mode only)
crypto-c2-private-key: c2key


# MQTT settings
###############################################################
mqtt-enabled: true
## broker host:port, must include protocol prefix, e.g. "tcp://"
mqtt-broker: tcp://localhost:1883
## MQTT ID of the C2
mqtt-ID: e4c2
## QoS level of command messages sent to clients (2 recommended)
mqtt-QoS-pub: 2
## QoS level of messages received
mqtt-QoS-sub: 1

# Kafka settings
###############################################################
kafka-enabled: false
## space separated list of available brokers: host1:port1 host2:port2
kafka-brokers: localhost:9092

# Database settings
###############################################################
## supported types are sqlite3 and postgres
db-type: sqlite3
##
db-file: /tmp/e4c2test.sqlite
## username to connect to postgres
#db-username: e4_c2_test
## password to connect to postgres
#db-password: teserakte4
## set to true to show detailed logging of database operations
#db-logging: 1
## host of the db
db-host: localhost
## db name
db-database: e4
## passphrase used to derive the key to encrypt keys in the db. Min 16 characters
db-encryption-passphrase: very_secure_pass
## TLS connection: enabled || selfsigned || insecure
db-secure-connection: enabled
# Postgres database schema
# db-schema: e4_c2_test

# gRPC settings
###############################################################
# host:port, e.g. 0.0.0.0:5555
grpc-host-port: 0.0.0.0:5555
# path to the PEM-encoded certificate file
grpc-cert: c2-cert.pem
# path to the PEM-encoded private key file
grpc-key: c2-key.pem

# HTTP settings
###############################################################
# host:port, e.g. 0.0.0.0:8888
http-host-port: 0.0.0.0:8888
# address to use to connect from the http grpc-gateway to the c2 grpc server
http-grpc-host-port: 127.0.0.1:5555
# path to the PEM-encoded certificate file
http-cert: c2-cert.pem
# path to the PEM-encoded private key file
http-key: c2-key.pem

# ES settings
###############################################################
## enable elasticsearch and thus require a running server
es-enable: true
## space separated list of available elasticsearch severs: http://host1:port1 http://host2:port2
es-urls: http://127.0.0.1:9200
## enable C2 logs forwarding to elasticsearch
es-c2-logging-enable: true
## name of the elasticSearch index for C2 logs. The indexes will be created daily like so: <name>-YYYY.MM.DD
## ( /!\ changing it imply to update the kibana dashboards to use the new name)
es-c2-logging-index: logs
## enable broker messages logging to elasticsearch
es-message-logging-enable: true
## name of the elasticSearch index for messages. The indexes will be created daily like so: <name>-YYYY.MM.DD
## ( /!\ changing it imply to update the kibana dashboards to use the new name)
es-message-logging-index: messages

# OpenCensus settings
###############################################################
oc-agent-addr: localhost:55678
oc-sample-all: true
